{{'section-ivan.css' | asset_url | stylesheet_tag}}

<section class="section-ivan">

    <div class="father-button">
        <a href="" class="button-login">
            {{ section.settings.link }}
        </a>
    </div>

    <div class="container-img-info-ivan">
        <div class="container-img-ivan">
            <img src="https://cdn.shopify.com/s/files/1/0777/2651/5513/files/image_14.png?v=1686259823" alt="" class="img-ivan">
        </div>

        <div class="cotainer-info-all">
        

            <div class="container-info-ivan">
                <div class="arrow">
                    <img src="https://cdn.shopify.com/s/files/1/0777/2651/5513/files/Union.png?v=1686260101" alt="" srcset="">
                </div>
                <div class="container-title-subtitle">
                    <div class="title-ivan">Ivan Lopez</div>
                    <div class="subtitle-ivan">Co-founder</div>
                </div>
            </div>

            <div class="text-all">
                <div class="text1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit, eu rhoncus malesuada eu vitae. Ornare sodales morbi et sagittis sapien. Dignissim orci, et nulla facilisis neque fermentum, pellentesque. Viverra vulputate aenean ornare odio nulla. Facilisis egestas etiam vel lectus ultrices risus. Augue elementum praesent non fermentum, integer a pretium praesent ut. 
                </div>
                <div class="text2">
                    Eget pellentesque aliquet mattis ac magna odio tristique. Venenatis suspendisse vitae tempor mauris neque lectus. Elit egestas ut dolor morbi enim nulla euismod egestas. Eleifend a faucibus ornare lectus non ac duis viverra nunc. Aliquet nisl arcu, ante vel ultrices congue.
                </div>
                <div class="text3">
                    Dignissim orci, et nulla facilisis neque fermentum, pellentesque. Viverra vulputate aenean ornare odio nulla. Facilisis egestas etiam vel lectus ultrices risus. Augue elementum praesent non fermentum, integer a pretium praesent ut. 
                </div>
            </div>

        </div>    
    </div>

</section>


{% schema %}  
    {
        "name": "section ivan"
        "settings": [
            {
                "type":"url",
                "id": "link",
                "label": "Boton"
            }
        ]
    }
{% endschema %}
