* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.section-ivan {
    padding-top: 33px;
}

.father-button {
    display: flex;
    justify-content: end;
}

.button-login {
    height: 39px;
    min-width: 119px;
    border: 2px solid #2F80ED;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2F80ED;
    margin-right: 33px;
}

.container-img-info-ivan {
    display: flex;
}

.container-info-ivan {
    display: flex;
}

.container-title-subtitle {
    margin-left: 24px;
}

.container-img-ivan {
    width: 40%;
}

.container-img-ivan img {
    width: 100%;
}

.cotainer-info-all {
    width: 60%;
}

.container-img-info-ivan {
    padding: 66px 128px 0 128px;
}

.container-img-ivan {
    margin-right: 64px;
}

.title-ivan, .subtitle-ivan {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    color: #222222;
}

.subtitle-ivan {
    font-size: 18px;
    line-height: 23px;
}