* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.section-ivan {
    padding-top: 33px;
}

.father-button {
    display: flex;
    justify-content: end;
}

.button-login {
    height: 39px;
    min-width: 119px;
    border: 2px solid #2F80ED;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2F80ED;
}

.container-img-info-ivan {
    display: flex;
}

.container-info-ivan {
    display: flex;
}

.container-title-subtitle {
    margin-left: 24px;
}